<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bitbabit>
            <dev_tools>
                <log_to_file_enabled>0</log_to_file_enabled>
            </dev_tools>
        </bitbabit>
    </default>
</config>
